body{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  padding: 20px;
}

.icon {
  width: 25vw;
  height: 25vw;
}

.weatherLabel {
  font-weight: bold;
  text-align: center;
}
